body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #8ec5fc, #e0c3fc);
    /* Havalı arka plan */
    color: #333;
}

h1 {
    margin: 20px;
    color: #333;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 800px;
    border: 3px solid #333;
    border-radius: 8px;
}

.footer {
    position: absolute;
    bottom: 50px;
    /* 50px yukarı kaydırıldı */
    width: 100%;
    font-size: 14px;
    color: #777;
    text-align: center;
    transition: color 0.3s ease;
}

.footer:hover {
    color: #555;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #555;
    transform: scale(1.05);
}